<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laurits' blog</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'styles/style.css') }}">
</head>
<body>
    <header>
        <nav class="top-nav">
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/projects">PROJECTS</a>
            </li>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <ul id="footer-links">
        <li>
            <a href="https://github.com/DGLaurits">
                <img src="{{ url_for('.static', filename = 'svgs/github.svg') }}" width="20px" height="20px" alt="Github"/>
                Github
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/laurits-madsen/">
                <img src="{{ url_for('.static', filename = 'svgs/linkedin.svg') }}" width="20px" height="20px" alt="LinkedIn"/>
                LinkedIn
            </a>
        </li>
        </ul>
        <p style="color: white;">
        Laurits Skov Madsen 2024©
        </p>
    </footer>
</body>
</html>