{% extends "base.html" %}
{% block main %}

<section>
    <p style="text-align: justify;">
        Hi, I'm Laurits Madsen, and this is ny blog!
        <br><br>
        I'm a math and tech enthusiast, and I enjoy doing various small projects, so I created this website in order to
        share them with the random people, who end up here on their journey throughout the web. And I also carry a small
        hope that, with time, one of the posts on this blog will be of use to other people learning how to to math and code.
        <br><br>
        I am currently a student at The Technical University of Denmark (DTU), studying a bachelor in engineering called
        "Mathematics and Technology". This summarizes well what I upload on this site. If you wish to contact me, I prefer
        getting messaged over LinkedIn. And if you're interested in seeing what I'm currently working on, and my precious
        projects, you can click on "Projects" in
        the upper navigation menu.<br><br>
        Have a nice day :)

    </p>
</section>

{% endblock %}