{% extends "base.html" %}

{% block title %}Home - My Site{% endblock %}

{% block main %}
<section class="text-center my-8">
    <h1 class="text-4xl font-bold mb-4">Welcome to My Blog</h1>
    <p class="text-lg text-gray-700">
        Hi, I'm Laurits Skov Madsen, and this is my blog!
        <br><br>
        I'm a math and tech enthusiast, and I enjoy doing various small projects, so I created this website in order to
        share them with the random people, who end up here on their journey throughout the web. And I also carry a small
        hope that, with time, one of the posts on this blog will be of use to other people learning how to to math and code.
        <br><br>
        I am currently a student at the Technical University of Denmark (DTU), studying a bachelor in Applied Mathematics (and engineering). This summarizes well what I upload on this site. If you wish to contact me, I prefer
        getting messaged over LinkedIn. And if you're interested in seeing what I'm currently working on, and my previous
        posts, you can click on "Posts" in
        the upper navigation menu.<br><br>
        Have a nice day :)

    </p>
</section>

{% if latest_posts %}

<hr class="my-8 border-gray-200 border-2 rounded-full text-green-900">

<section class="grid md:grid-cols-3 gap-6 mt-8">
    {% for post in latest_posts %}
    <a href="{{ url_for('blog.post_page', post_id=post.id) }}"
       class="block bg-white shadow-md rounded-lg overflow-hidden hover:shadow-xl transition-shadow">
        {% if post.hero_image_url %}
        <img src="{{ post.hero_image_url }}" alt="{{ post.title }}" class="w-full h-48 object-cover">
        {% endif %}
        <div class="p-4">
            <h2 class="font-bold text-xl mb-2">{{ post.title }}</h2>
            <p class="text-gray-700 text-sm mb-2">{{ post.description }}</p>
            <p class="text-gray-400 text-xs">{{ post.date }}</p>
        </div>
    </a>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
