{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block head_extra %}
{% include "includes/mathjax.html" %}
{% endblock %}

{% block main %}
<article class="prose lg:prose-lg max-w-3xl mx-auto py-8">
    <header class="mb-8">
        <h1 class="font-bold text-center mb-2">{{ post.title }}</h1>
        <p class="text-center text-gray-500">{{ post.date }}</p>
    </header>
    <div id="post-content" class="text-justify max-w-none">
        {{ content|safe }}
    </div>
</article>
<script>
  typesetMath([document.getElementById('post-content')]);
</script>
{% endblock %}
