{% extends "base.html" %}
{% block main %}

<section>
{% for project in my_projects %}
    <a 
    {% if is_admin%}
    href="/edit/{{ project['id'] }}" 
    {% else %}
    href="/projects/{{ project['id'] }}" 
    {% endif %}
    class="project_intro">
        <img src="{{ project['main_image'] }}">
        <h3 class="title">{{ project['title'] }}</h4>
        <p class="description">{{ project['description'] }}</p>
        <p class="date">{{ project['date'] }}</p>
    </a>
{% endfor %}
</section>
{% endblock %}