{% extends "base.html" %}
{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'styles/adminstyle.css') }}">
{% endblock %}
{% block main %}

<section>
    <form action="/write" method="post" id="write_form">
        <label>Title</label>
        <input type="text" name="title">
        <label>Image path</label>
        <input type="text" name="image_path">
        <label>Description</label>
        <textarea name="description" id="description" style="font-family: 'Dosis';"></textarea>
        <div>
            <label>Content</label>
            <button type="button" id="preview-button">Preview</button>
        </div>
        <textarea name="content" id="content"></textarea>
        <div id="preview" class="hidden">
    
        </div>
        <button type="submit">Save post</button>
    </form>
    <h1>Image Upload</h1>
    <div style="padding: 20px; width: 160px; height: auto; border: solid 2px rgb(85, 131, 184);">
        <form style="display: flex; flex-direction: column;" action="/images" method="POST" enctype=multipart/form-data>
            <input type="file" name="file" id="file_input">
            <button type="submit">Save</button>
        </form>
    </div>
    <div></div>
</section>
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script>
    
    description = document.getElementById("description")
    content = document.getElementById("content");
    preview = document.getElementById("preview");
    preview_button = document.getElementById("preview-button");

    description.addEventListener('input', () => {

    });

    content.addEventListener('input', () => {
        content.style.height = `${content.scrollHeight-4}px`;
        var converter = new showdown.Converter(),
        text      = content.value,
        html      = converter.makeHtml(text);
        preview.innerHTML = html;
    });

    preview_button.addEventListener("click", () => {
        content.classList.toggle("hidden");
        preview.classList.toggle("hidden");
    });
    
</script>
{% endblock %}