#write_form {
    display: flex;
    flex-direction: column;
    width: clamp(100px, 80vw, 800px);
    gap: 10px;
}

#write_form input[name="title"] {
    width: 300px;
}

#write_form textarea[name="description"] {
    width: 60%;
    height: auto;
}

#write_form textarea[name="content"] {
    width: 100%;
    height: auto;
}

#write_form button[type="submit"] {
    place-self: flex-start;
}