@font-face{
    font-family: 'New Amsterdam';
    src: url('../fonts/NewAmsterdam-Regular.ttf');
    font-weight: bold;}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/dosis/Dosis-VariableFont_wght.ttf');
}

:root {
    --background-color: #1b263b;
    --dark-color: #0d1b2a;
    --border-color: #000;
    --menu-color: #415a77;
    --light-color: #6585ae;
    --font-color: #e0e1dd;
}

body {
    min-height: 100vh;
    background: linear-gradient(0deg, var(--background-color) 0%, var(--background-color) 90%, var(--dark-color) 100%);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Dosis';
}

h1, h2, h3, h4, h5, h6, a, p, li, code, hr {
    text-decoration: none;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

code {
    background-color: #324260;
    border-radius: 4px;
    padding: 2px;
}

svg {
    fill: white;
}

header {
    padding: 1em 5em;
    display: flex;
}

.top-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    border: 1px solid var(--border-color);
    border-radius: 5em;
    font-family:'New Amsterdam', sans-serif;
    font-size: 1.5em;
    letter-spacing: .1rem;
    margin: auto;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 28px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 10px 28px -8px rgba(0,0,0,0.73);
    box-shadow: 0px 10px 28px -8px rgba(0,0,0,0.73);
}

.top-nav li {
    padding-top: 4px;
    display: flex;
    width: 150px;
    height: 35px;
    padding: 0;
    justify-items: center;
    background-color: var(--menu-color);
}

.top-nav li:hover {
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.top-nav a {
    text-align: center;
    flex: 1;
    padding-top: 3px;
    color: var(--font-color);
    text-decoration: none;
}

footer {
    background-color: var(--background-color);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #778da9 solid 3px;
}

#footer-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    min-width: 200px;
    max-width: 500px;
}

footer img {
    filter: invert(95%) sepia(4%) saturate(122%) hue-rotate(34deg) brightness(97%) contrast(89%);
    position: relative;
    top: 0.3em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

section {
    min-height: 0;
    max-width: 800px;
    padding: 2em 2em;
}

.project_intro {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 2em auto 1em;
    gap: 0px 1.5em;
    align-items: start;
    width: auto;
    padding: 10px;
    margin-bottom: 2em;
    background-color: var(--light-color);
    border-radius: 1em;
    border: 2px solid var(--border-color);
}

.project_intro img {
    height: auto;
    width: 100%;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 0.5em;
    opacity: 90%;
}
.project_intro .title {
    grid-column: 2;
    grid-row: 1;
}
.project_intro .description {
    grid-column: 2;
    grid-row: 2;
}
.project_intro .date {
    grid-column: 2;
    grid-row: 3;
}
